.Air_Conditioner_Large {
	background: url("../img/other_home_appll.png");
	background-position-y: 0px;
}
.Air_Conditioner_Small { 
	background: url("../img/other_home_appll.png");
	background-position-y: 0;
}
.Air_Purifier {
	background: url("../img/other_home_appll.png");
	background-position-y: -110px;
}
.Amplifier {
	background: url("../img/other_instrument.png");
	background-position-y: -330px;
}
.Arm_Chair {
	background: url("../img/chair.png");
	background-position-y: 0;
}
.Baby_Grand_Piano {
	background: url("../img/pianos.png");
	background-position-y: 0;
}
.Bag_Duffle {
	background: url("../img/other_travel.png");
	background-position-y: -110px;
}
.Bakers_Rack {
	background: url("../img/odds.png");
	background-position-y: -1655px;
}
.Bar_Stool {
	background: url("../img/chair.png");
	background-position-y: -1100px;
}
.Bar {
	background: url("../img/bar.png");
	background-position-y: 0px;
}
.Bar_small {
	background: url("../img/bar_small.png");
	background-position-y: 0px;
}
.Basket {
	background: url("../img/other_odds.png");
	background-position-y: 0px;
}
.Bassinet {
	background: url("../img/kids_beds.png");
	background-position-y: 0;
}
.Bathroom_Cabinet {
	background: url("../img/other_chair_cabinet.png");
	background-position-y: -220px;
}
.Bean_Bag_Chair {
	background: url("../img/chair.png");
	background-position-y: -110px;
}
.Bench {
	background: url("../img/other_chair_cabinet.png");
	background-position-y: 0;
}
.Bicycle {
	background: url("../img/other_sport.png");
	background-position-y:0px;
}
.Bike_rack {
	background: url("../img/other_odds.png");
	background-position-y: -110px;
}
.Book_Box {
	background: url("../img/boxes.png");
	background-position-y: -330px;
}
.Box_Matress {
	background: url("../img/beds.png");
	background-position-y: -330px;
}
.Buffet {
	background: url("../img/table.png");
	background-position-y: -2630px;
}
.Butchers_Block {
	background: url("../img/odds.png");
	background-position-y: -1765px;
}
.CD_Rack {
	background: url("../img/odds.png");
	background-position-y: 0;
}
.California_King_Mattress {
	background: url("../img/beds.png");
	background-position-y: -1100px;
}
.Captains_Bed {
	background: url("../img/beds.png");
	background-position-y: 0;
}
.Car_Seat {
	background: url("../img/child_odds.png");
	background-position-y: 0;
}
.Card_Table {
	background: url("../img/other_table.png");
	background-position-y: 0px;
}
.Cat_Litter_Box {
	background: url("../img/other_odds.png");
	background-position-y: -330px;
}
.Cat_Tree_Large {
	background: url("../img/other_odds.png");
	background-position-y: -440px;
}
.Cat_Tree_Medium {
	background: url("../img/other_odds.png");
	background-position-y: -440px;
}
.Cat_Tree_Small {
	background: url("../img/other_odds.png");
	background-position-y: -440px;
}
.Chaise_Lounge {
	background: url("../img/chair.png");
	background-position-y: -220px;
}
.Chandelier {
	background: url("../img/odds.png");
	background-position-y: -1550px;
}
.Changing_Table {
	background: url("../img/child_table.png");
	background-position-y: 0;
}
.Childrens_Bed {
	background: url("../img/kids_beds.png");
	background-position-y: -220px;
}
.Childrens_Bicycle {
	background: url("../img/other_sport.png");
	background-position-y: -110px;
}
.Childrens_Chair {
	background: url("../img/child_table.png");
	background-position-y: -220px;
}
.Childrens_Table {
	background: url("../img/child_table.png");
	background-position-y: -110px;
}
.China_Box {
	background: url("../img/boxes.png");
	background-position-y: -660px;
}
.Clarinet {
	background: url("../img/other_instrument.png");
	background-position-y: 0px;
}
.Clothes_Rack {
	background: url("../img/odds.png");
	background-position-y: -1100px;
}
.Clothes_Steamer {
	background: url("../img/odds.png");
	background-position-y: -880px;
}
.Club_Chair {
	background: url("../img/chair.png");
	background-position-y: -330px;
}
.Coat_Rack {
	background: url("../img/other_odds.png");
	background-position-y: -550px;
}
.Coffee_maker {
	background: url("../img/appliances.png");
	background-position-y: -300px;
}
.Collapsable_Metal_bed {
	background: url("../img/beds.png");
	background-position-y: -550px;
}
.Commercial_Bin {
	background: url("../img/other_travel.png");
	background-position-y: -220px;
}
.Computer {
	background: url("../img/office_comp_monit.png");
	background-position-y: 0px;
}
.Computer_with_Monitor {
	background: url("../img/office_comp_monit.png");
	background-position-y: 0px;
}
.Conference_Chair {
	background: url("../img/office_chair.png");
	background-position-y: 0px;
}
.Conference_Table {
	background: url("../img/office_table.png");
	background-position-y: 0;
}
.Console {
	background: url("../img/table.png");
	background-position-y: -2740px;
}
.Console_Piano {
	background: url("../img/pianos.png");
	background-position-y: -220px;
}
.Crib {
	background: url("../img/kids_beds.png");
	background-position-y: -330px;
}
.Daybed {
	background: url("../img/beds.png");
	background-position-y: -440px;
}
.Dining_Chair {
	background: url("../img/chair.png");
	background-position-y: -990px;
}
.Dining_Table {
	background: url("../img/table.png");
	background-position-y: -2850px;
}
.Dishwasher {
	background: url("../img/appliances.png");
	background-position-y: -500px;
}
.Dollhouse {
	background: url("../img/toys.png");
	background-position-y: 0;
}
.Drafting_Table {
	background: url("../img/office_table.png");
	background-position-y: -440px;
}
.Drawer_Lateral_2 {
	background: url("../img/office_cabinet.png");
	background-position-y: 0px;
}
.Drawer_Lateral_4 {
	background: url("../img/office_cabinet.png");
	background-position-y: -440px;
}
.Drawer_Vertical_2 {
	background: url("../img/office_cabinet.png");
	background-position-y: -110px;
}
.Drawer_Vertical_4 {
	background: url("../img/office_cabinet.png");
	background-position-y: -220px;
}
.Drawer_Vertical_Deep_2 {
	background: url("../img/office_cabinet.png");
	background-position-y: -0px;
}
.Drawer_Vertical_Deep_4 {
	background: url("../img/office_cabinet.png");
	background-position-y: -220px;
}
.Drums {
	background: url("../img/other_instrument.png");
	background-position-y: -110px;
}
.Dryer {
	background: url("../img/other_home_appll.png");
	background-position-y: -220px;
}
.Easel_Large {
	background: url("../img/other_odds.png");
	background-position-y: -660px;
}
.Easel_Small { 
	background: url("../img/other_odds.png");
	background-position-y: -660px;
}
.End_Table {
	background: url("../img/table.png");
	background-position-y: -330px;
}
.Entertainment_Center {
	background: url("../img/cabinets.png");
	background-position-y: -770px;
}
.Executive_Chair {
	background: url("../img/office_chair.png");
	background-position-y: -110px;
}
.Fan {
	background: url("../img/odds.png");
	background-position-y: -110px;
}
.Faux_Fireplace {
	background: url("../img/other_odds.png");
	background-position-y: -770px;
}
.Fax_Machine {
	background: url("../img/office_equip.png");
	background-position-y: 0px;
}
.Fireplace_Equipment {
	background: url("../img/fireplace.png");
	background-position-y: 0;
}
.Floor_Lamp {
	background: url("../img/lamps.png");
	background-position-y: -110px;
}
.Floor_Speakers {
	background: url("../img/speaker.png");
	background-position-y: -110px;
}
.Folding_Chair {
	background: url("../img/other_chair_cabinet.png");
	background-position-y: -110px;
}
.Folding_Screen {
	background: url("../img/other_odds.png");
	background-position-y: -880px;
}
.Folding_Table {
	background: url("../img/other_table.png");
	background-position-y: -110px;
}
.Food_Processor {
	background: url("../img/appliances.png");
	background-position-y: -600px;
}
.Foosball_Table {
	background: url("../img/other_games.png");
	background-position-y: 0px;
}
.Footboard {
	background: url("../img/beds.png");
	background-position-y: -110px;
}
.Footboard_1 {
	background: url("../img/beds.png");
	background-position-y: -110px;
}
.Futon {
	background: url("../img/sofasAnd.png");
	background-position-y: 0;
}
.Garbage_Can {
	background: url("../img/odds.png");
	background-position-y: -1875px;
}
.Garbage_Pail {
	background: url("../img/odds.png");
	background-position-y: -1210px;
}
.Glider_Chair {
	background: url("../img/chair.png");
	background-position-y: -440px;
}
.Golf_Bag {
	background: url("../img/other_sport.png");
	background-position-y: -770px;
}
.Grand_Piano {
	background: url("../img/pianos.png");
	background-position-y: 0;
}
.Guitar {
	background: url("../img/other_instrument.png");
	background-position-y: -220px;
}
.Gun_Safe {
	background: url("../img/other_odds.png");
	background-position-y: -1100px;
}
.Hamper {
	background: url("../img/odds.png");
	background-position-y: -1320px;
}
.Headboard {
	background: url("../img/beds.png");
	background-position-y: -660px;
}
.Headboard_1 {
	background: url("../img/beds.png");
	background-position-y: -660px;
}
.High_Chair {
	background: url("../img/chair.png");
	background-position-y: -1210px;
}
.Hoe {
	background: url("../img/other_odds.png");
	background-position-y: -1210px;
}
.Iron {
	background: url("../img/other_home_appll.png");
	background-position-y: -330px;
}
.Ironing_Board {
	background: url("../img/other_home_appll.png");
	background-position-y: -440px;
}
.Juicer {
	background: url("../img/appliances.png");
	background-position-y: -700px;
}
.Kitchen_Chair {
	background: url("../img/chair.png");
	background-position-y: -1320px;
}
.Kitchen_Table {
	background: url("../img/table.png");
	background-position-y: -3190px;
}
.Large_Armoire {
	background: url("../img/cabinets.png");
	background-position-y: -220px;
}
.Large_China_Cabinet {
	background: url("../img/cabinets.png");
	background-position-y: -1870px;
}
.Large_Coffee_Table {
	background: url("../img/table.png");
	background-position-y: -220px;
}
.Large_Credenza {
	background: url("../img/cabinets.png");
	background-position-y: -2090px;
}
.Large_Dresser {
	background: url("../img/dresser.png");
	background-position-y: -220px;
}
.Large_Grill {
	background: url("../img/outdoor_item.png");
	background-position-y: -550px;
}
.Large_Ladder {
	background: url("../img/other_odds.png");
	background-position-y: -1430px;
}
.Large_Linen_Box {
	background: url("../img/boxes.png");
	background-position-y: -550px;
}
.Large_Mirror {
	background: url("../img/mirrors&painting.png");
	background-position-y: -220px;
}
.Large_Ottoman {
	background: url("../img/sofasAnd.png");
	background-position-y: -330px;
}
.Large_Plant {
	background: url("../img/outdoor_item.png");
	background-position-y: -330px;
}
.Large_Printer {
	background: url("../img/office_equip.png");
	background-position-y: -550px;
}
.Large_Refrigerator {
	background: url("../img/appliances.png");
	background-position-y: -1300px;
}
.Large_Rug {
	background: url("../img/odds.png");
	background-position-y: -770px;
}
.Large_Side_Table {
	background: url("../img/table.png");
	background-position-y: -880px;
}
.Large_TV_Stand {
	background: url("../img/tv.png");
	background-position-y: -990px;
}
.Lawnmower {
	background: url("../img/other_odds.png");
	background-position-y: -1540px;
}
.Legal_File_Box {
	background: url("../img/boxes.png");
	background-position-y: 0;
}
.Letter_File_Box {
	background: url("../img/boxes.png");
	background-position-y: -110px;
}
.Linen_Box {
	background: url("../img/boxes.png");
	background-position-y: -440px;
}
.Lingerie_Chest {
	background: url("../img/dresser.png");
	background-position-y: -330px;
}
.Love_Seat {
	background: url("../img/sofasAnd.png");
	background-position-y: -440px;
}
.Magazine_Rack {
	background: url("../img/other_odds.png");
	background-position-y: -1650px;
}
.Mannequin {
	background: url("../img/other_odds.png");
	background-position-y: -1760px;
}
.Medium_Dresser {
	background: url("../img/dresser.png");
	background-position-y: -110px;
}
.Medium_Ladder {
	background: url("../img/other_odds.png");
	background-position-y: -1430px;
}
.Medium_Ottoman {
	background: url("../img/sofasAnd.png");
	background-position-y: -220px;
}
.Medium_Plant {
	background: url("../img/outdoor_item.png");
	background-position-y: -220px;
}
.Medium_Refrigerator {
	background: url("../img/appliances.png");
	background-position-y: -1200px;
}
.Medium_Rug {
	background: url("../img/odds.png");
	background-position-y: -660px;
}
.Microwave {
	background: url("../img/appliances.png");
	background-position-y: -800px;
}
.Microwave_Cart {
	background: url("../img/odds.png");
	background-position-y: -2095px;
}
.Milk_Crate {
	background: url("../img/other_odds.png");
	background-position-y: -1650px;
}
.Mini_Refrigerator {
	background: url("../img/appliances.png");
	background-position-y: -1000px;
}
.Monitor {
	background: url("../img/office_comp_monit.png");
	background-position-y: -110px;
}
.Murphy_Bed {
	background: url("../img/beds.png");
	background-position-y: -220px;
}
.Nesting_Table {
	background: url("../img/table.png");
	background-position-y: -770px;
}
.Night_Table {
	background: url("../img/table.png");
	background-position-y: -2429px;
}
.Office-Chair {
	background: url("../img/office_chair.png");
	background-position-y: -220px;
}
.Office_with_Return {
	background: url("../img/office_table.png");
	background-position-y: -330px;
}
.Outdoor_Chair {
	background: url("../img/outdoor_chair.png");
	background-position-y: 0px;
}
.Outdoor_Dining_Table {
	background: url("../img/table.png");
	background-position-y: 0px;
}
.Outdoor_End_Table {
	background: url("../img/table.png");
	background-position-y: 0px;
}
.Outdoor_Lounge_Chair {
	background: url("../img/outdoor_chair.png");
	background-position-y: -110px;
}
.Outdoor_Sofa {
	background: url("../img/outdoor_item.png");
	background-position-y: 0px;
}
.Oven {
	background: url("../img/appliances.png");
	background-position-y: -900px;
}
.Overstuffed_Chair {
	background: url("../img/chair.png");
	background-position-y: -550px;
}
.Painting {
	background: url("../img/mirrors&painting.png");
	background-position-y: -330px;
}
.Papason_Chair {
	background: url("../img/chair.png");
	background-position-y: -660px;
}
.Paper_Shredder {
	background: url("../img/office_equip.png");
	background-position-y: -330px;
}
.Piano_Bench {
	background: url("../img/pianos.png");
	background-position-y: -440px;
}
.Picture_Crate {
	background: url("../img/mirrors&painting.png");
	background-position-y: -550px;
}
.Picture_with_Frame {
	background: url("../img/mirrors&painting.png");
	background-position-y: -440px;
}
.Pinball_Machine {
	background: url("../img/other_games.png");
	background-position-y: -110px;
}
.Ping_Pong_Table {
	background: url("../img/other_games.png");
	background-position-y: -220px;
}
.Plastic_Bin_Large {
	background: url("../img/other_travel.png");
	background-position-y: -220px;
}
.Plastic_Bin_Medium {
	background: url("../img/other_travel.png");
	background-position-y: -330px;
}
.Plastic_Bin_Small { 
	background: url("../img/other_travel.png");
	background-position-y: -330px;
}
.Play_Pen {
	background: url("../img/toys.png");
	background-position-y: -220px;
}
.Play_Set {
	background: url("../img/toys.png");
	background-position-y: -110px;
}
.Pool_Table {
	background: url("../img/other_games.png");
	background-position-y: -330px;
}
.Printer_Stand {
	background: url("../img/office_equip.png");
	background-position-y: -660px;
}
.Rake {
	background: url("../img/other_odds.png");
	background-position-y: -2090px;
}
.Recliner_Chair {
	background: url("../img/chair.png");
	background-position-y: -770px;
}
.Rocking_Chair {
	background: url("../img/chair.png");
	background-position-y: -880px;
}
.Runner_Rug {
	background: url("../img/odds.png");
	background-position-y: -550px;
}
.Safe {
	background: url("../img/other_odds.png");
	background-position-y: -1100px;
}
.Saxophone {
	background: url("../img/other_instrument.png");
	background-position-y: -440px;
}
.Scanner {
	background: url("../img/office_equip.png");
	background-position-y: -770px;
}
.Seater_Sofa_3 {
	background: url("../img/sofasAnd.png");
	background-position-y: -550px;
}
.Seater_Sofa_4 {
	background: url("../img/sofasAnd.png");
	background-position-y: -660px;
}
.Sewing_Machine {
	background: url("../img/other_home_appll.png");
	background-position-y: -550px;
}
.Sewing_Machine_Table {
	background: url("../img/other_table.png");
	background-position-y: -220px;
}
.Shelf_Speaker {
	background: url("../img/speaker.png");
	background-position-y: 0;
}
.Shoe_Rack {
	background: url("../img/odds.png");
	background-position-y: -990px;
}
.Shopping_Cart {
	background: url("../img/other_odds.png");
	background-position-y: -2200px;
}
.Shovel {
	background: url("../img/other_odds.png");
	background-position-y: -2310px;
}
.Ski {
	background: url("../img/other_sport.png");
	background-position-y: -880px;
}
.Small_Armoire {
	background: url("../img/cabinets.png");
	background-position-y: 0;
}
.Small_China_Cabinet {
	background: url("../img/cabinets.png");
	background-position-y: -1760px;
}
.Small_Coffee_Table {
	background: url("../img/table.png");
	background-position-y: -110px;
}
.Small_Credenza {
	background: url("../img/cabinets.png");
	background-position-y: -1980px;
}
.Small_Desk {
	background: url("../img/office_table.png");
	background-position-y: -110px;
}
.Small_Drawer_Unit {
	background: url("../img/tv.png");
	background-position-y: -880px;
}
.Small_Dresser {
	background: url("../img/dresser.png");
	background-position-y: 0;
}
.Small_Grill {
	background: url("../img/outdoor_item.png");
	background-position-y: -440px;
}
.Small_Ladder {
	background: url("../img/other_odds.png");
	background-position-y: -1320px;
}
.Small_Mirror {
	background: url("../img/mirrors&painting.png");
	background-position-y: 0;
}
.Small_Ottoman {
	background: url("../img/sofasAnd.png");
	background-position-y: -110px;
}
.Small_Plant {
	background: url("../img/outdoor_item.png");
	background-position-y: -110px;
}
.Small_Printer {
	background: url("../img/office_equip.png");
	background-position-y: -440px;
}
.Small_Refrigerator {
	background: url("../img/appliances.png");
	background-position-y: -1100px;
}
.Small_Stool {
	background: url("../img/chair.png");
	background-position-y: -1420px;
}
.Small_TV_Stand {
	background: url("../img/tv.png");
	background-position-y: -880px;
}
.Small_rug {
	background: url("../img/odds.png");
	background-position-y: -440px;
}
.Snow_Blower {
	background: url("../img/other_odds.png");
	background-position-y: -2420px;
}
.Snowboard {
	background: url("../img/other_sport.png");
	background-position-y: -990px;
}
.Sofa_Bed {
	background: url("../img/sofasAnd.png");
	background-position-y: -880px;
}
.Space_Heater {
	background: url("../img/other_home_appll.png");
	background-position-y: -660px;
}
.Spinet_Piano {
	background: url("../img/pianos.png");
	background-position-y: -330px;
}
.Standing_Fan {
	background: url("../img/odds.png");
	background-position-y: -220px;
}
.Stereo_or_Video_Component {
	background: url("../img/speaker.png");
	background-position-y: -330px;
}
.Stroller {
	background: url("../img/child_odds.png");
	background-position-y: -110px;
}
.Suitcase {
	background: url("../img/odds.png");
	background-position-y: -1430px;
}
.TV_DLP_41-60 {
	background: url("../img/tv.png");
	background-position-y: -440px;
}
.TV_DLP_UNDER_40 {
	background: url("../img/tv.png");
	background-position-y: -330px;
}
.TV_FLAT_PANEL_33-45 {
	background: url("../img/tv.png");
	background-position-y: 0;
}
.TV_FLAT_PANEL_46-55 {
	background: url("../img/tv.png");
	background-position-y: -220px;
}
.TV_FLAT_PANEL_UNDER_32 {
	background: url("../img/tv.png");
	background-position-y: 0;
}
.TV_TUBE_21-27 {
	background: url("../img/tv.png");
	background-position-y: -660px;
}
.TV_TUBE_28-36 {
	background: url("../img/tv.png");
	background-position-y: -770px;
}
.TV_TUBE_UNDER_20 {
	background: url("../img/tv.png");
	background-position-y: -550px;
}
.Table_Lamp {
	background: url("../img/lamps.png");
	background-position-y: 0;
}
.Toaster_Oven {
	background: url("../img/appliances.png");
	background-position-y: -1600px;
}
.Tool_Box {
	background: url("../img/other_odds.png");
	background-position-y: -2530px;
}
.Tool_Chest {
	background: url("../img/other_odds.png");
	background-position-y: -2640px;
}
.Toy_Bin {
	background: url("../img/child_odds.png");
	background-position-y: -220px;
}
.Toy_Car {
	background: url("../img/toys.png");
	background-position-y: -330px;
}
.Treadmill {
	background: url("../img/other_sport.png");
	background-position-y: -1210px;
}
.Trombone {
	background: url("../img/other_instrument.png");
	background-position-y: -550px;
}
.Trumpet {
	background: url("../img/other_instrument.png");
	background-position-y: -660px;
}
.Trundle_Bed {
	background: url("../img/beds.png");
	background-position-y: -770px;
}
.Trunk {
	background: url("../img/child_odds.png");
	background-position-y: -330px;
}
.Upright_Piano {
	background: url("../img/pianos.png");
	background-position-y: -110px;
}
.Utility_Table {
	background: url("../img/other_table.png");
	background-position-y: -110px;
}
.Vacuum_Cleaner {
	background: url("../img/other_home_appll.png");
	background-position-y: -770px;
}
.Vanity {
	background: url("../img/dresser.png");
	background-position-y: -440px;
}
.Violin {
	background: url("../img/other_instrument.png");
	background-position-y: -770px;
}
.Wardrobe_Box {
	background: url("../img/boxes.png");
	background-position-y: -220px;
}
.Wardrobe_Closet {
	background: url("../img/dresser.png");
	background-position-y: -550px;
}
.Washing_Machine {
	background: url("../img/other_home_appll.png");
	background-position-y: -990px;
}
.Water_Cooler {
	background: url("../img/odds.png");
	background-position-y: -2315px;
}
.Wine_Rack {
	background: url("../img/odds.png");
	background-position-y: -2205px;
}
.Wine_Refrigerator {
	background: url("../img/appliances.png");
	background-position-y: -1400px;
}
.Wood_Bed_Frame {
	background: url("../img/beds.png");
	background-position-y: -880px;
}
.Work_Table {
	background: url("../img/office_table.png");
	background-position-y: -550px;
}
.default_icon {
	background: url("../img/custom.png");
	background-position-y: 0px;
}
.Elliptical {
	background: url("../img/other_sport.png");
	background-position-y: -550px;
}
.Exercise_Bike {
	background: url("../img/other_sport.png");
	background-position-y: -660px;
}
.Grandfather_Clock {
	background: url("../img/odds.png");
	background-position-y: -330px;
}
.Mop {
	background: url("../img/other_odds.png");
	background-position-y: -1980px;
}
.Broom {
	background: url("../img/other_odds.png");
	background-position-y: -220px;
}
.Nightstand {
	background: url("../img/table.png");
	background-position-y: -2526px;
}
.Wardrobe_Closet_Mirrors {
	background: url("../img/dresser.png");
	background-position-y: -660px;
}
.Glass_Cabinet {
	background: url("../img/cabinets.png");
	background-position-y: -660px;
}
.Small_Desk_Glass {
	background: url("../img/office_table.png");
	background-position-y: -770px;
}
.Office_Desk_Glass {
	background: url("../img/office_table.png");
	background-position-y: -880px;
}
.Desk_With_Hutch {
	background: url("../img/office_table.png");
	background-position-y: -220px;
}
.Washer_Dryer_Combo {
	background: url("../img/other_home_appll.png");
	background-position-y: -880px;
}
.Sofa_Large_Sectional {
	background: url("../img/sofasAnd.png");
	background-position-y: -770px;
}
.Blender {
	background: url("../img/appliances.png");
	background-position-y: 0;
}
.Bread_Maker {
	background: url("../img/appliances.png");
	background-position-y: -100px;
}
.Chest_Freezer {
	background: url("../img/appliances.png");
	background-position-y: -200px;
}
.TV_Dinner_Table {
	background: url("../img/table.png");
	background-position-y: -1200px;
}
.Tri_Head_Lamp {
	background: url("../img/lamps.png");
	background-position-y: -220px;
}
.Folding_Cots {
	background: url("../img/beds.png");
	background-position-y: -990px;
}
.Crock_Pot {
	background: url("../img/appliances.png");
	background-position-y: -390px;
}
.Bunk_Bed {
	background: url("../img/kids_beds.png");
	background-position-y: -110px;
}
.Foyer_Table {
	background: url("../img/table.png");
	background-position-y: -660px;
}
.Metal_Locker {
	background: url("../img/other_odds.png");
	background-position-y: -1870px;
}
.Surfboard {
	background: url("../img/other_sport.png");
	background-position-y: -1100px;
}
.Cubby_Small {
	background: url("../img/cabinets.png");
	background-position-y: -330px;
}
.Cubby_Medium {
	background: url("../img/cabinets.png");
	background-position-y: -440px;
}
.Cubby_Large {
	background: url("../img/cabinets.png");
	background-position-y: -550px;
}
.Glass_Front_Bookcase_Small {
	background: url("../img/bookcases.png");
	background-position-y:0;
}
.Glass_Front_Bookcase_Medium {
	background: url("../img/bookcases.png");
	background-position-y: -110px;
}
.Glass_Front_Bookcase_Large {
	background: url("../img/bookcases.png");
	background-position-y: -220px;
}
.Bin_Medium {
	background: url("../img/other_travel.png");
	background-position-y: 0px;
}
.Bin_Large {
	background: url("../img/other_travel.png");
	background-position-y: 0px;
}
.Laminating-Machine {
	background: url("../img/office_equip.png");
	background-position-y: -220px;
}
.Trash_Bag_Small { 
	background: url("../img/other_travel.png");
	background-position-y: -550px;
}
.Trash_Bag_Large {
	background: url("../img/other_travel.png");
	background-position-y: -550px;
}
.Dumbbells_Small {
	background: url("../img/other_sport.png");
	background-position-y: -220px;
}
.Dumbbells_Medium {
	background: url("../img/other_sport.png");
	background-position-y: -330px;
}
.Dumbbells_Large {
	background: url("../img/other_sport.png");
	background-position-y: -440px;
}
.Air_Conditioner_Large_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: 0;
}
.Air_Conditioner_Small_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: 0;
}
.Air_Purifier_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -40px;
}
.Amplifier_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -120px;
}
.Arm_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: 0px;
}
.Baby_Grand_Piano_small { 
	background: url("../img/pianos_small.png");
	background-position-y: 0px;
}
.Bag_Duffle_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -40px;
}
.Bakers_Rack_small { 
	background: url("../img/odds_small.png");
	background-position-y: -610px;
}
.Bar_Stool_small { 
	background: url("../img/chair_small.png");
	background-position-y: -410px;
}
.Basket_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: 0px;
}
.Bassinet_small { 
	background: url("../img/kids_beds_small.png");
	background-position-y: 0px;
}
.Bathroom_Cabinet_small {
	background: url("../img/other_chair_cabinet_small.png");
	background-position-y: -82px;
}
.Bean_Bag_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -41px;
}
.Bench_small { 
	background: url("../img/other_chair_cabinet_small.png");
	background-position-y: 0px;
}
.Bicycle_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: 0px;
}
.Bike_rack_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -41px;
}
.Book_Box_small { 
	background: url("../img/boxes_small.png");
	width: 40px;
	height: 40px;
	background-position-y: -123px;
}
.Box_Matress_small { 
	background: url("../img/beds_small.png");
	background-position-y: -123px;
}
.Buffet_small { 
	background: url("../img/table_small.png");
	background-position-y: -960px;
}
.Butchers_Block_small { 
	background: url("../img/odds_small.png");
	background-position-y: -657px;
}
.CD_Rack_small { 
	background: url("../img/odds_small.png");
	background-position-y: 0px;
}
.California_King_Mattress_small { 
	background: url("../img/beds_small.png");
	background-position-y: -410px;
}
.Captains_Bed_small { 
	background: url("../img/beds_small.png");
	background-position-y: 0px;
}
.Car_Seat_small { 
	background: url("../img/child_odds_small.png");
	background-position-y: 0px;
}
.Card_Table_small { 
	background: url("../img/other_table_small.png");
	background-position-y: 0px;
}
.Cat_Litter_Box_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -120px;
}
.Cat_Tree_Large_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -160px;
}
.Cat_Tree_Medium_small {
	background: url("../img/other_odds_small.png");
	background-position-y: -160px;
}
.Cat_Tree_Small_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -160px;
}
.Chaise_Lounge_small { 
	background: url("../img/chair_small.png");
	background-position-y: -82px;
}
.Chandelier_small { 
	background: url("../img/odds_small.png");
	background-position-y: -575px;
}
.Changing_Table_small { 
	background: url("../img/child_table_small.png");
	background-position-y: 0;
}
.Childrens_Bed_small { 
	background: url("../img/kids_beds_small.png");
	background-position-y: -82px;
}
.Childrens_Bicycle_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -40px;
}
.Childrens_Chair_small { 
	background: url("../img/child_table_small.png");
	background-position-y: -82px;
}
.Childrens_Table_small { 
	background: url("../img/child_table_small.png");
	background-position-y: -41px;
}
.China_Box_small { 
	background: url("../img/boxes_small.png");
	width: 40px;
	height: 40px;
	background-position-y: -250px;
}
.Clarinet_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: 0px;
}
.Clothes_Rack_small { 
	background: url("../img/odds_small.png");
	background-position-y: -410px;
}
.Clothes_Steamer_small {
	background: url("../img/odds_small.png");
	background-position-y: -328px;
}
.Club_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -123px;
}
.Coat_Rack_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -205px;
}
.Coffee_maker_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -112px;
}
.Collapsable_Metal_bed_small { 
	background: url("../img/beds_small.png");
	background-position-y: -205px;
}
.Commercial_Bin_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -80px;
}
.Computer_small { 
	background: url("../img/office_comp_monit_small.png");
	background-position-y: 0px;
}
.Computer_with_Monitor_small { 
	background: url("../img/office_comp_monit_small.png");
	background-position-y: 0px;
}
.Conference_Chair_small { 
	background: url("../img/office_chair_small.png");
	background-position-y: 0px;
}
.Conference_Table_small { 
	background: url("../img/office_table_small.png");
	background-position-y: 0;
}
.Console_Piano_small { 
	background: url("../img/pianos_small.png");
	background-position-y: -82px;
}
.Console_small { 
	background: url("../img/table_small.png");
	background-position-y: -995px;
}
.Crib_small { 
	background: url("../img/kids_beds_small.png");
	background-position-y: -123px;
}
.Daybed_small { 
	background: url("../img/beds_small.png");
	background-position-y: -164px;
}
.Dining_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -369px;
}
.Dining_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -1038px;
}
.Dishwasher_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -185px;
}
.Dollhouse_small { 
	background: url("../img/toys_small.png");
	background-position-y: -0px;
}
.Drafting_Table_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -160px;
}
.Drawer_Lateral_2_small { 
	background: url("../img/office_cabinet_small.png");
	background-position-y: 0px;
}
.Drawer_Lateral_4_small { 
	background: url("../img/office_cabinet_small.png");
	background-position-y: -160px;
}
.Drawer_Vertical_2_small { 
	background: url("../img/office_cabinet_small.png");
	background-position-y: -40px;
}
.Drawer_Vertical_4_small { 
	background: url("../img/office_cabinet_small.png");
	background-position-y: -80px;
}
.Drawer_Vertical_Deep_2_small { 
	background: url("../img/office_cabinet_small.png");
	background-position-y: -0px;
}
.Drawer_Vertical_Deep_4_small { 
	background: url("../img/office_cabinet_small.png");
	background-position-y: -80px;
}
.Drums_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -40px;
}
.Dryer_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -80px;
}
.Easel_Large_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -245px;
}
.Easel_Small_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -245px;
}
.End_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -123px;
}
.Entertainment_Center_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -285px;
}
.Executive_Chair_small { 
	background: url("../img/office_chair_small.png");
	background-position-y: -40px;
}
.Fan_small { 
	background: url("../img/odds_small.png");
	background-position-y: -40px;
}
.Faux_Fireplace_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -285px;
}
.Fax_Machine_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -0px;
}
.Fireplace_Equipment_small { 
	background: url("../img/fireplace_small.png");
	background-position-y: -0px;
}
.Floor_Lamp_small { 
	background: url("../img/lamps_small.png");
	background-position-y: -40px;
}
.Floor_Speakers_small { 
	background: url("../img/speaker_small.png");
	background-position-y: -40px;
}
.Folding_Chair_small { 
	background: url("../img/other_chair_cabinet_small.png");
	background-position-y: -40px;
}
.Folding_Screen_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -330px;
}
.Folding_Table_small { 
	background: url("../img/other_table_small.png");
	background-position-y: -40px;
}
.Food_Processor_small {
	background: url("../img/appliances_small.png");
	background-position-y: -220px;
}
.Foosball_Table_small {
	background: url("../img/other_games_small.png");
	background-position-y: -0px;
}
.Footboard_1_small {
	background: url("../img/beds_small.png");
	background-position-y: -40px;
}
.Footboard_small {
	background: url("../img/beds_small.png");
	background-position-y: -40px;
}
.Futon_small {
	background: url("../img/sofasAnd_small.png");
	background-position-y: -0px;
}
.Garbage_Can_small {
	background: url("../img/odds_small.png");
	background-position-y: -699px;
}
.Garbage_Pail_small {
	background: url("../img/odds_small.png");
	background-position-y: -455px;
}
.Glider_Chair_small {
	background: url("../img/chair_small.png");
	background-position-y: -160px;
}
.Golf_Bag_small {
	background: url("../img/other_sport_small.png");
	background-position-y: -288px;
}
.Grand_Piano_small {
	background: url("../img/pianos_small.png");
	background-position-y: 0px;
}
.Guitar_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -82px;
}
.Gun_Safe_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -410px;
}
.Hamper_small { 
	background: url("../img/odds_small.png");
	background-position-y: -495px;
}
.Headboard_1_small { 
	background: url("../img/beds_small.png");
	background-position-y: -245px;
}
.Headboard_small { 
	background: url("../img/beds_small.png");
	background-position-y: -245px;
}
.High_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -450px;
}
.Hoe_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -455px;
}
.Iron_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -123px;
}
.Ironing_Board_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -168px;
}
.Juicer_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -260px;
}
.Kitchen_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -490px;
}
.Kitchen_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -1155px;
}
.Large_Armoire_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -82px;
}
.Large_China_Cabinet_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -697px;
}
.Large_Coffee_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -82px;
}
.Large_Credenza_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -779px;
}
.Large_Dresser_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -82px;
}
.Large_Grill_small { 
	background: url("../img/outdoor_item_small.png");
	background-position-y: -204px;
}
.Large_Ladder_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -534px;
}
.Large_Linen_Box_small { 
	background: url("../img/boxes_small.png");
	background-position-y: -205px;
}
.Large_Mirror_small { 
	background: url("../img/mirrors&painting_small.png");
	background-position-y: -82px;
}
.Large_Ottoman_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -123px;
}
.Large_Plant_small { 
	background: url("../img/outdoor_item_small.png");
	background-position-y: -123px;
}
.Large_Printer_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -205px;
}
.Large_Refrigerator_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -410px;
}
.Large_Rug_small { 
	background: url("../img/odds_small.png");
	background-position-y: -287px;
}
.Large_Side_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -323px;
}
.Large_TV_Stand_small { 
	background: url("../img/tv_small.png");
	background-position-y: -323px;
}
.Lawnmower_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -570px;
}
.Legal_File_Box_small { 
	background: url("../img/boxes_small.png");
	background-position-y: -0px;
}
.Letter_File_Box_small { 
	background: url("../img/boxes_small.png");
	background-position-y: -40px;
}
.Linen_Box_small { 
	background: url("../img/boxes_small.png");
	background-position-y: -164px;
}
.Lingerie_Chest_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -123px;
}
.Love_Seat_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -160px;
}
.Magazine_Rack_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -610px;
}
.Mannequin_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -658px;
}
.Medium_Dresser_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -41px;
}
.Medium_Ladder_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -534px;
}
.Medium_Ottoman_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -82px;
}
.Medium_Plant_small { 
	background: url("../img/outdoor_item_small.png");
	background-position-y: -82px;
}
.Medium_Refrigerator_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -446px;
}
.Medium_Rug_small { 
	background: url("../img/odds_small.png");
	background-position-y: -246px;
}
.Microwave_Cart_small { 
	background: url("../img/odds_small.png");
	background-position-y: -778px;
}
.Microwave_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -300px;
}
.Milk_Crate_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -615px;
}
.Mini_Refrigerator_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -370px;
}
.Monitor_small { 
	background: url("../img/office_comp_monit_small.png");
	background-position-y: -40px;
}
.Murphy_Bed_small { 
	background: url("../img/beds_small.png");
	background-position-y: -82px;
}
.Nesting_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -284px;
}
.Night_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -880px;
}
.Office-Chair_small { 
	background: url("../img/office_chair_small.png");
	background-position-y: -82px;
}
.Office_with_Return_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -123px;
}
.Outdoor_Chair_small { 
	background: url("../img/outdoor_chair_small.png");
	background-position-y: -0px;
}
.Outdoor_Dining_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -0px;
}
.Outdoor_End_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -0px;
}
.Outdoor_Lounge_Chair_small { 
	background: url("../img/outdoor_chair_small.png");
	background-position-y: -41px;
}
.Outdoor_Sofa_small { 
	background: url("../img/outdoor_item_small.png");
	background-position-y: -0px;
}
.Oven_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -329px;
}
.Overstuffed_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -205px;
}
.Painting_small { 
	background: url("../img/mirrors&painting_small.png");
	background-position-y: -123px;
}
.Papason_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -244px;
}
.Paper_Shredder_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -123px;
}
.Piano_Bench_small { 
	background: url("../img/pianos_small.png");
	background-position-y: -164px;
}
.Picture_Crate_small { 
	background: url("../img/mirrors&painting_small.png");
	background-position-y: -205px;
}
.Picture_with_Frame_small { 
	background: url("../img/mirrors&painting_small.png");
	background-position-y: -164px;
}
.Pinball_Machine_small { 
	background: url("../img/other_games_small.png");
	background-position-y: -40px;
}
.Ping_Pong_Table_small { 
	background: url("../img/other_games_small.png");
	background-position-y: -80px;
}
.Plastic_Bin_Large_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -80px;
}
.Plastic_Bin_Medium_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -120px;
}
.Plastic_Bin_Small_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -120px;
}
.Play_Pen_small { 
	background: url("../img/toys_small.png");
	background-position-y: -82px;
}
.Play_Set_small { 
	background: url("../img/toys_small.png");
	background-position-y: -40px;
}
.Pool_Table_small { 
	background: url("../img/other_games_small.png");
	background-position-y: -120px;
}
.Printer_Stand_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -246px;
}
.Rake_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -780px;
}
.Recliner_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -287px;
}
.Rocking_Chair_small { 
	background: url("../img/chair_small.png");
	background-position-y: -328px;
}
.Runner_Rug_small { 
	background: url("../img/odds_small.png");
	background-position-y: -205px;
}
.Safe_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -410px;
}
.Saxophone_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -163px;
}
.Scanner_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -287px;
}
.Sculpture { 
	background: url("../img/mirrors&painting.png");
	background-position-y: -660px;
}
.Sculpture_small { 
	background: url("../img/mirrors&painting_small.png");
	background-position-y: -240px;
}
.Seater_Sofa_3_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -200px;
}
.Seater_Sofa_4_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -240px;
}
.Sewing_Machine_Table_small { 
	background: url("../img/other_table_small.png");
	background-position-y: -80px;
}
.Sewing_Machine_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -200px;
}
.Shelf_Speaker_small { 
	background: url("../img/speaker_small.png");
	background-position-y: -0px;
}
.Shoe_Rack_small { 
	background: url("../img/odds_small.png");
	background-position-y: -369px;
}
.Shopping_Cart_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -819px;
}
.Shovel_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -860px;
}
.Ski_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -328px;
}
.Small_Armoire_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: 0px;
}
.Small_China_Cabinet_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -656px;
}
.Small_Coffee_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -41px;
}
.Small_Credenza_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -738px;
}
.Small_Desk_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -40px;
}
.Small_Drawer_Unit_small { 
	background: url("../img/tv_small.png");
	background-position-y: -320px;
}
.Small_Dresser_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -0px;
}
.Small_Grill_small { 
	background: url("../img/outdoor_item_small.png");
	background-position-y: -160px;
}
.Small_Ladder_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -490px;
}
.Small_Mirror_small { 
	background: url("../img/mirrors&painting_small.png");
	background-position-y: 0px;
}
.Small_Ottoman_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -40px;
}
.Small_Plant_small { 
	background: url("../img/outdoor_item_small.png");
	background-position-y: -40px;
}
.Small_Printer_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -160px;
}
.Small_Refrigerator_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -408px;
}
.Small_Stool_small { 
	background: url("../img/chair_small.png");
	background-position-y: -529px;
}
.Small_TV_Stand_small { 
	background: url("../img/tv_small.png");
	background-position-y: -320px;
}
.Small_rug_small { 
	background: url("../img/odds_small.png");
	background-position-y: -160px;
}
.Snow_Blower_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -899px;
}
.Snowboard_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -370px;
}
.Sofa_Bed_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -320px;
}
.Space_Heater_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -245px;
}
.Spinet_Piano_small { 
	background: url("../img/pianos_small.png");
	background-position-y: -123px;
}
.Standing_Fan_small { 
	background: url("../img/odds_small.png");
	background-position-y: -80px;
}
.Stereo_or_Video_Component_small { 
	background: url("../img/speaker_small.png");
	background-position-y: -123px;
}
.Stroller_small { 
	background: url("../img/child_odds_small.png");
	background-position-y: -40px;
}
.Suitcase_small { 
	background: url("../img/odds_small.png");
	background-position-y: -532px;
}
.TV_DLP_41-60_small { 
	background: url("../img/tv_small.png");
	background-position-y: -160px;
}
.TV_DLP_UNDER_40_small { 
	background: url("../img/tv_small.png");
	background-position-y: -120px;
}
.TV_FLAT_PANEL_33-45_small { 
	background: url("../img/tv_small.png");
	background-position-y: 0px;
}
.TV_FLAT_PANEL_46-55_small { 
	background: url("../img/tv_small.png");
	background-position-y: -80px;
}
.TV_FLAT_PANEL_UNDER_32_small { 
	background: url("../img/tv_small.png");
	background-position-y: -0px;
}
.TV_TUBE_21-27_small { 
	background: url("../img/tv_small.png");
	background-position-y: -240px;
}
.TV_TUBE_28-36_small { 
	background: url("../img/tv_small.png");
	background-position-y: -280px;
}
.TV_TUBE_UNDER_20_small { 
	background: url("../img/tv_small.png");
	background-position-y: -200px;
}
.Table_Lamp_small { 
	background: url("../img/lamps_small.png");
	background-position-y: -0px;
}
.Toaster_Oven_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -596px;
}
.Tool_Box_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -940px;
}
.Tool_Chest_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -986px;
}
.Toy_Bin_small { 
	background: url("../img/child_odds_small.png");
	background-position-y: -80px;
}
.Toy_Car_small { 
	background: url("../img/toys_small.png");
	background-position-y: -120px;
}
.Treadmill_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -446px;
}
.Trombone_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -205px;
}
.Trumpet_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -245px;
}
.Trundle_Bed_small { 
	background: url("../img/beds_small.png");
	background-position-y: -280px;
}
.Trunk_small { 
	background: url("../img/child_odds_small.png");
	background-position-y: -123px;
}
.Upright_Piano_small { 
	background: url("../img/pianos_small.png");
	background-position-y: -40px;
}
.Utility_Table_small { 
	background: url("../img/other_table_small.png");
	background-position-y: -40px;
}
.Vacuum_Cleaner_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -284px;
}
.Vanity_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -160px;
}
.Violin_small { 
	background: url("../img/other_instrument_small.png");
	background-position-y: -284px;
}
.Wardrobe_Box_small { 
	background: url("../img/boxes_small.png");
	background-position-y: -80px;
}
.Wardrobe_Closet_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -205px;
}
.Washing_Machine_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -368px;
}
.Water_Cooler_small { 
	background: url("../img/odds_small.png");
	background-position-y: -862px;
}
.Wine_Rack_small { 
	background: url("../img/odds_small.png");
	background-position-y: -820px;
}
.Wine_Refrigerator_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -520px;
}
.Wood_Bed_Frame_small { 
	background: url("../img/beds_small.png");
	background-position-y: -324px;
}
.Work_Table_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -205px;
}
.default_icon_small { 
	background: url("../img/custom_small.png");
	background-position-y: -0px;
}
.Elliptical_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -205px;
}
.Exercise_Bike_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -246px;
}
.Grandfather_Clock_small { 
	background: url("../img/odds_small.png");
	background-position-y: -123px;
}
.Mop_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -736px;
}
.Broom_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -80px;
}
.Nightstand_small { 
	background: url("../img/table_small.png");
	background-position-y: -918px;
}
.Wardrobe_Closet_Mirrors_small { 
	background: url("../img/dresser_small.png");
	background-position-y: -246px;
}
.Glass_Cabinet_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -246px;
}
.Small_Desk_Glass_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -287px;
}
.Office_Desk_Glass_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -320px;
}
.Desk_With_Hutch_small { 
	background: url("../img/office_table_small.png");
	background-position-y: -80px;
}
.Washer_Dryer_Combo_small { 
	background: url("../img/other_home_appll_small.png");
	background-position-y: -328px;
}
.Sofa_Large_Sectional_small { 
	background: url("../img/sofasAnd_small.png");
	background-position-y: -280px;
}
.Blender_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -0px;
}
.Bread_Maker_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -40px;
}
.Chest_Freezer_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -76px;
}
.TV_Dinner_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -440px;
}
.Tri_Head_Lamp_small { 
	background: url("../img/lamps_small.png");
	background-position-y: -80px;
}
.Folding_Cots_small { 
	background: url("../img/beds_small.png");
	background-position-y: -370px;
}
.Crock_Pot_small { 
	background: url("../img/appliances_small.png");
	background-position-y: -146px;
}
.Bunk_Bed_small { 
	background: url("../img/kids_beds_small.png");
	background-position-y: -40px;
}
.Foyer_Table_small { 
	background: url("../img/table_small.png");
	background-position-y: -240px;
}
.Metal_Locker_small { 
	background: url("../img/other_odds_small.png");
	background-position-y: -696px;
}
.Surfboard_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -406px;
}
.Cubby_Small_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -123px;
}
.Cubby_Medium_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -164px;
}
.Cubby_Large_small { 
	background: url("../img/cabinets_small.png");
	background-position-y: -205px;
}
.Glass_Front_Bookcase_Small_small { 
	background: url("../img/bookcases_small.png");
	background-position-y: -0px;
}
.Glass_Front_Bookcase_Medium_small { 
	background: url("../img/bookcases_small.png");
	background-position-y: -40px;
}
.Glass_Front_Bookcase_Large_small { 
	background: url("../img/bookcases_small.png");
	background-position-y: -80px;
}
.Bin_Medium_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: 0px;
}
.Bin_Large_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: 0px;
}
.Laminating-Machine_small { 
	background: url("../img/office_equip_small.png");
	background-position-y: -80px;
}
.Trash_Bag_Small_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -200px;
}
.Trash_Bag_Large_small { 
	background: url("../img/other_travel_small.png");
	background-position-y: -200px;
}
.Dumbbells_Small_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -80px;
}
.Dumbbells_Medium_small { 
		background: url("../img/other_sport_small.png");
	background-position-y: -120px;
}
.Dumbbells_Large_small { 
	background: url("../img/other_sport_small.png");
	background-position-y: -160px;
}